@mixin flex($direccion, $justificacion, $alineacion, $padding, $margen, $gap)
  display: flex
  flex-direction: $direccion
  justify-content: $justificacion
  align-items: $alineacion
  padding: $padding
  margin: $margen
  gap: $gap
